extend layout
block content
  h1 Journal API
  p
    | This front-end is hosted by express and templated using Jade. NodeJS calls the backend REST API. 
    | The backend API is written in Java and Spring framework.  which is written in Java.
  p
    | The data is persisted in a PostgreSQL relational database
    | and which is hosted on AWS RDS.
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.